/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/.vs/
/.vscode/
/.idea/

.DS_Store
Thumbs.db
desktop.ini

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.shader
*.hlsl

*.stacktrace

.idea/
*.sln.iml

.Rider*

Packages/packages-lock.json